/* Give the different parameter input boxes
   background colour corresponding to the colour used for that
   element in the Tauc plot */

#lowEmax, #lowEmin {
   /* the two last characters in the colour string control opacity */
   background-color: #ff000022;
}

#highEmax, #highEmin {
   /* the two last characters in the colour string control opacity */
   background-color: #00800022;
}

#bgmin, #bgmax {
   /* the two last characters in the colour string control opacity */
   background-color: #ffa50022;
}

/* Use the same colour for both "Browse" and "Plot" buttons */
#buttonTauc, .btn-file {
   /* same blue colour as in the "upload complete" bar */
   background-color: #337ab7;
   color: #ffffff;
}
